[submodule "submodules/relay"]
	path = submodules/relay
	url = https://github.com/trustlines-protocol/relay.git
[submodule "submodules/blockchain"]
	path = submodules/blockchain
	url = https://github.com/trustlines-protocol/blockchain.git
[submodule "submodules/clientlib"]
	path = submodules/clientlib
	url = https://github.com/trustlines-protocol/clientlib.git
[submodule "submodules/contracts"]
	path = submodules/contracts
	url = https://github.com/trustlines-protocol/contracts.git
[submodule "clientlib-docs"]
	path = clientlib-docs
	url = https://github.com/trustlines-protocol/clientlib-docs.git
