<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Welcome to<br />
        Trustlines Developer Docs</h1>
        <p>To help you build on Trustlines</p>
      </header>
      <p>Here you can find all kind of technical documentation about Trustlines as well as code related documentation.</p>
      <ul class="actions">
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/TN-Logo-Gradient_1_14.png" alt="Trustlines" />
    </span>
  </section>
