<!-- Scripts -->
  <script src="{{ 'assets/js/jquery.min.js' | absolute_url }}"></script>
  <script src="{{ 'assets/js/skel.min.js' | absolute_url }}"></script>
  <script src="{{ 'assets/js/util.js' | absolute_url }}"></script>
  <!--[if lte IE 8]><script src="{{ 'assets/js/ie/respond.min.js' | absolute_url }}"></script><![endif]-->
  <script src="{{ 'assets/js/main.js' | absolute_url }}"></script>
	<!-- Load jquery.cookie plugin (optional) -->
	<script type="text/javascript" src="{{ '/assets/js/jquery.cookie.js' | absolute_url }}"></script>
	<!-- Load jquery.navgoco plugin js and css files -->
	<script type="text/javascript" src="{{ '/assets/js/jquery.navgoco.js' | absolute_url }}"></script>
  <script type="text/javascript">
	$(document).ready(function() {
		$('.nav').navgoco();
	});
</script>
