<!-- Sidebar -->
<div id="sidebar">
  <div class="inner">

    <!-- Menu -->
    <nav id="menu">
      <header class="major">
        <h2>Menu</h2>
      </header>
      <ul>
        <li><a href="{{ '' | absolute_url }}">Home</a></li>
        <ul class="nav">
          <li><a href="#">Blockchain</a>
            <ul>
              <li><a href="{{ 'docs/blockchain/tlbc.html' | absolute_url }}">Overview</a></li>
              <li><a href="{{ 'docs/blockchain/nodes.html' | absolute_url }}">Nodes</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav">
          <li><a href="#">Client library</a>
            <ul>
              <li class="side_sub"><a href="{{ 'docs/clientlib/clientlib.html' | absolute_url }}">Introduction</a></li>
              <li><a href="{{ 'docs/clientlib/clientlib-guides.html' | absolute_url }}">Guides</a></li>
              <!-- <li><a href="{{ 'docs/clientlib/clientlib-development.html' | absolute_url }}">Development</a></li> -->
            </ul>
          </li>
        </ul>
        <ul class="nav">
          <li><a href="#">Smart contracts</a>
            <ul>
              <li><a href="{{ 'docs/contracts/contracts_README.html' | absolute_url }}">Introduction</a></li>
              <li><a href="{{ 'docs/contracts/contracts_deployment.html' | absolute_url }}">Deployment</a></li>
              <li><a href="{{ 'docs/contracts/deployed_contracts.html' | absolute_url }}">Deployed contracts</a></li>
              <li><a href="{{ 'docs/contracts/currency_networks_tlbc.html' | absolute_url }}">Currency Networks</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav">
          <li><a href="#">Relay server</a>
            <ul>
              <li><a href="{{ 'docs/relay/relay_server.html' | absolute_url }}">Intro</a></li>
              <li><a href="{{ 'docs/relay/running_trustlines_system.html' | absolute_url }}">Relay server guide</a></li>
              <li><a href="{{ 'docs/relay/trustlines_docker.html' | absolute_url }}">docker-compose solution</a></li>
              <!-- <li><a href="{{ 'docs/relay/relay-api.html' | absolute_url }}">Relay API</a></li> -->
            </ul>
          </li>
        </ul>
      </ul>
    </nav>

    <!-- Section -->
    <section>
      <header class="major">
        <h2>Get in touch</h2>
      </header>
      <p>If you need help or just want to chat with other community members, join our community channels.</p>
      <ul class="contact">
        <li><img class="side_icon" src="{{ 'assets/images/ghost.png' | absolute_url }}" /><a href="https://blog.trustlines.network/" target="_blank">Trustlines Blog</a></li>
        <li><img class="side_icon" src="{{ 'assets/images/discourse.svg' | absolute_url }}" /><a href="https://forum.trustlines.network/" target="_blank">Trustlines Forum</a></li>
        <li><img class="side_icon" src="{{ 'assets/images/gitter.svg' | absolute_url }}" /><a href="https://gitter.im/trustlines/community">Trustlines Technical Chat on Gitter</a></li>
        <li><img class="side_icon" src="{{ 'assets/images/telegram.svg' | absolute_url }}" /><a href="https://twitter.com/TrustlinesFound">Trustlines Network Telegram</a></li>
      </ul>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <p class="copyright">&copy; Trustlines Foundation. Design: <a href="https://html5up.net">HTML5 UP</a>. Jekyll integration: <a href="https://andrewbanchi.ch">Andrew Banchich</a>.</p>
    </footer>

  </div>
</div>
